<mat-toolbar class="toolbarMenu">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon><img src="../../assets/logo_easy.jpg"></mat-icon>
    </button>
    <span class="titleApp">EASYJOBS</span>
    <span class="example-spacer"></span>
    <button class="btToolbar" [routerLink]="'worker'" mat-button>Trabajadores</button>
    <button class="btToolbar" [routerLink]="'employeer'" mat-button>Empleadores</button>
    <button class="btToolbar" [routerLink]="'occupation'" mat-button>Ocupaciones</button>
    <button class="btToolbar" [routerLink]="'employeer/contractService'" mat-button>Contratos</button>
    <button class="btToolbar" [routerLink]="'home'" mat-button>Regístrate</button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon><img src="../../assets/miraral_frente.jpg"></mat-icon>
    </button>
</mat-toolbar>
